/* @import(s)*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Body */
body {
    margin: 0;
}

.wrapper {
    padding: 0 5%;
}

/* Header */
.header {
    background-color: #222222;
}

.header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}

.logoHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logoHeader h4 {
    color: #e8e8e8;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}

.logoLink {
    text-decoration: none;
}

.logoHeader:hover {
    text-decoration: underline #e8e8e8;
}

.logo {
    width: 10%;
    height: 10%;
}

.nav_primary ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 5em;
}

.nav_primary ul li a {
    color: #e8e8e8;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.nav_primary ul li a:hover {
    color: #990100;
    text-decoration: underline;
}

/* Hero */
.hero {
    background-color: #333333;
    padding: 2em 0;
}

.hero .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titleHero h1 {
    color: #e8e8e8;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

.titleHero p {
    color: #990100;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
