/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #222;
    --color-secondary: #333;
    --color-primary-light: #e8e8e8;
    --color-secondary-light: #f6f6f6;
    --color-red: #990100;
}
